<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script type="module" src="/tests/js/options.js"></script>
    <link rel="stylesheet" href="/dist/choosy.min.css">
    <link rel="stylesheet" href="/tests/css/base.css">
</head>
<body>

<div class="test-container_disabled">
    <label for="cars_disabled">Cars</label>

    <select name="cars_disabled" id="cars_disabled" multiple>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="ford">Ford</option>
        <option value="seat">Seat</option>
        <option value="renault">Renault</option>
        <option value="skoda">Skoda</option>
        <option value="kia">Kia</option>
        <option value="porsche">Porsche</option>
        <option value="tesla">Tesla</option>
        <option value="honda">Honda</option>
        <option value="bentley">Bentley</option>
        <option value="bugatti">Bugatti</option>
        <option value="audi">Audi</option>
    </select>
</div>

</body>
</html>